elpa
*~
scratch
server
saveplace
history
/#scratch#
/.mc-lists.el
lisp/parinfer-mode/
lisp/parinferlib.el
url/
.#scratch
github.token
network-security.data
places
scratch.log
tramp
.python-environments/
abbrev_defs
ac-comphist.dat
bookmarks
gist*
